@charset "utf-8";
/* CSS Document*/
body{
    background-color:#ffffff;
    margin:0px;
    padding:0px;
}
 
ul{
    list-style:none;
}
 
a{
    text-decoration:none;
}
 
section{
    width:100%;
    height:95vh;
    position: relative;
}
 
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:60px;
    background-color:#FFFFFF;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%;
     
}
nav ul{
    display: flex;
}
  
nav ul li a{
    margin:30px;
    font-family:myriad pro regular;
    color:#505050;
    font-size: 15px;
    font-weight:700;
}
 
.logo{
    font-family:RoadTest;
    color:#000000;
    font-size: 22px;
    font-weight: bold;
}
 
.active{
    color:#2d2a2a;
    font-weight:bold;
}
 
.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}
 
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 2px;
    color: #1a1a1a;
    font-size: 60px;
}
 
.text-container p:nth-child(3){
    font-family: myriad pro regular;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}
 
.text-container p:nth-child(4){
    font-family: calibri;
    color: #403e3e;
    font-size: 17px;
    margin-top: 10px;
    line-height: 30px;
}
 
.text-container p{
    line-height: 0px;
    margin: 55px 0px 25px;
}
 
.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}
 
.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
 
.hire-btn{
    border: 2px solid #373636;
    color: #373636;
}
 
.down-cv{
    background-color: #0b0b0b;
    color: #ffffff;
    border: none;
}
 
button:active{
    transform: scale(1.1);
}
 
.model{
    height: 560px;
    position: absolute;
    bottom: 60px;
    left: 80%;
    transform: translateX(-70%);
}
 



.register {
    width: 500px !important;
}

.login {
    width: 300px !important;
    height: fit-content;
    margin-left: 10px;
}

.box {
    width: fit-content;
    border: solid 1px white;
    box-shadow: 5px 5px 10px cornflowerblue;
    padding: 20px;
    padding-top: 5px;
    background-color: rgb(8, 23, 51);
}

.box .header {
    color: white;
}

.form-input {
    display: grid;
    margin-top: 10px;
}

.form-input label {
    margin-bottom: 10px;
    color: white;
}

.form-input input {
    height: 25px;
    border: solid 1px white;
}

.button-input{
    display: grid;
    height: 40px;
    margin-top: 30px;
}

.button-input button{
    background-color: limegreen;
    color: white;
    font-size: 15px;
    border: none;
}

.button-input button:hover{
    background-color: rgb(0, 195, 0);
    transition: 0.5s;
}

label[for="agreements"]{
    margin-left: 5px;
}

.agreements{
    color: white;
    margin-top: 20px;
}
.tengah{
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor{
    width: 20%;
    margin: 0 auto;
}

.kartu-tutor img {
    width: 80%;
    border-radius: 50%;
}

.kartu-tutor p{
    font-family: 'comic sans-ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #364f6b;
}
